#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#container_titulo {
    width: 80%;
    margin: 3% 0 3% 0;
}

#main h1 {
    font-size: 3rem;
    color: var(--verde);
    align-self: self-start;
}